* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 1000px;
}

.header, .footer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: #20c1d8;
}

.footer{
    background-color: #0868c1;
}

.main-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.aside-1 {
    min-height: 150px;
    display: flex;
    justify-content: center;
    background-color: #ff6ebe;
}

.aside-2 {
    min-height: 150px;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.content {
    height: 400px;
    background-color: #34cc24;
}

@media (max-width: 1024px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .content {
        grid-column: 1 / -1;
    }

    .aside-1, .aside-2 {
        grid-row: 2;
    }
}

@media (max-width: 600px) {
    .main-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .content {
        grid-row: 1;
    }

    .aside-1 {
        grid-row: 2;
    }

    .aside-2 {
        grid-row: 3;
    }
}