.container {
    background-color: #1864ab;
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
}

.placeholder {
    width: 800px;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 150px;
}

.navbar a:hover {
    background-color: white;
    color: black;
}